:root {
  --text-color: black;
  --bg-color: white;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  transition: 500ms;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman",
    serif;
  font-size: 1rem;
  line-height: 1.7;
  padding: 1em;
  padding-bottom: 3rem;
  margin: auto;
  max-width: 50rem;
}

a {
  color: blue;
  text-decoration: none;
  transition: 500ms;
}

a:visited {
  color: #333;
}

a:hover {
  color: #60f;
}

a:active {
  color: skyblue;
}

a:focus {
  outline: thin dotted;
}

*::selection {
  background: rgba(102, 0, 255, 0.25);
  color: var(--text-color);
}

p {
  margin: 1em 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  line-height: 125%;
  margin-top: 2em;
  font-weight: normal;
}

h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

code {
  font-family: monospace;
}
